/*
.dash-block {
  padding: 4px;
  background-color: white;
  border-color: gainsboro;
  border-radius: 5px;
  margin:5px;
  min-height: 300px;

}
.dash-block-header{
  font-size: xx-large !important;
  text-align: center !important;
}
.dash-block-content{
  text-align: center;
  font-size: medium;
}
strong {
  font-size: 5rem !important;
  text-align: center;
}
.block-title {
  text-align: center;
}
*/

.nav-tab > li {
  float: left;
  margin-bottom: -1px;
}

.nav > li {
  position: relative;
  display: block;
}

.nav {
  list-style: none;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42;
  border: 1px solid ;
  border-radius: 4px 4px 0 0 ;
}

.nav > li > a{
  position: relative;
  display: block;
  padding: 10px 15px;
}

